@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: "Roboto", sans-serif;
    background-color:#305050 ;
    text-align: center;
    color: white;
}
.cabecalho{
    border-bottom:#818181 1px solid;
}
h2{
    color:#FFA500;
}
.rodape{
    font-size: 12px;
    border-top: #818181 1px solid;
    margin: 5px;
}
.negrito{
  font-weight: bold;
}
.italico{
    font-style: italic;
}